*{  margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body {      
    font-family:'calibri';
    background-image: url(pantallaCine.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:grey;
    display: flex;
    justify-content: center;
}
header{
    background: black;
    width: 100%;
    position: fixed;
    top: 0px;
    display: table;
}
header a{
    color: white;
    text-decoration: none;
}
.menu{
    padding: 15px 0px; 
    width: 900px;
    margin: 0 auto;
}
img{
    width: 140px;
    float: left;
    position: fixed;
    left: 60px;
    top: -10px;
}
select{
    padding: 10px 15px;
    float:right;
    margin-left: 75px;
    color: white;
    background-color: black;
}
.boton{
    padding-right: 10px 15px;
    width: 500px;
    margin: 0 auto;
    float: right;
}
#cartelera {
    font-family: 'roboto';
    background: #efb810;
    border: none;
    display: block;
    margin-right: -480px;
    font-family:'calibri';
    color: white;
    width: 30%;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    float: right;
    border-radius: 4px;
}
.barraMenu{
    color:white;
    width: 900px;
    margin: 0 auto;
    font-weight: bold;
}
nav ul{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 25px 0;
    cursor: pointer;
    display: inline-block;
}
nav ul li a{
    display: block;
}
nav ul li a:hover{
    background: red;
}
main{
    align-items: center;
    margin: auto;   
}
h1{
    margin: auto;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
}
h3{
    margin: auto;
    color:yellow;
    text-align: center;
    font-weight: 700;
}
form {
    position:absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -130px;
    background: black;
    border-radius: 4px;
    width: 300px;
}
form .grupo{
    position:relative;
    margin: 10px;
}
.controls{
    font-size: 15px;
    display: inline-flex;
    width: 90%;
    padding: 4px;
    margin-left: 15px;
}
.controlShort{
    width: 90px;
    padding: 4px;
    text-align: center;
    margin-left: 40px;
}

button{
    font-family:'calibri';
    background: rgb(8, 167, 236);
    border: none;
    display: block;
    margin: 10px auto;
    color: white;
    width: 40%;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
}
#resultado{
    color: white;
    background:yellow;
    height: 50px;
    padding: 100px;
    width: 400px;
    border-radius: 4px;
    
}
.piePagina{
    background: black;
    width: 100%;
    bottom: 0px;
    height: 30px;
    position: fixed;
    left: 0px;
}
p{
    color: white;
    text-align: center;
}


