/*Color del fondo de pantalla*/
*{  margin: 0%;
    padding: 0%;
    box-sizing: border-box;   
}
body {      
    background-image: url(pantallaCine.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:grey;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin: auto;
    color: white;
    text-align: center;
    font-weight: 700;
}
form {
    background: black;
    padding: 30px;
    width: 400px;
    border-radius: 4px;
}

form .grupo{
    
    position:relative;
    margin: 10px;
}
/*input{
    font-size: 18px;
    display: inline-flex;
    width: 100%;
    border: none;
}*/
.controls{
    font-size: 18px;
    display: inline-flex;
    width: 100%;
    border: none;
}
.controlShort{
    width: 10px;
    padding: 30px;
}
button{
    font-family: 'roboto';
    background: blue;
    border: none;
    display: block;
    margin: 10px auto;
    color: white;
    width: 40%;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
}
#resultado{
    color: white;
    background:yellow;
    height: 50px;
    padding: 100px;
    width: 400px;
    border-radius: 4px;
    
}


