@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");

body {
  background-image: url("img/fondo.webp");
  background-size: cover;
}

h1 {
  font-family: Righteous;
  font-size: 10vw;
  line-height: 179px;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 30px;
  -webkit-text-stroke: 2px black;
  color: white;
}

h2 {
  margin: auto;
  padding-bottom: 40px;
  font-family: Orbitron;
  font-size: 4vw;
  line-height: 95px;
  text-align: center;
  -webkit-text-stroke: 1.5px white;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
  url(/src/Img/fondo.webp) repeat 50% 50%;
  -webkit-background-clip: text;

}

.btn1 {
  border-radius: 50%;
  border: #26035e solid 6px;
  display: block;
  width: 50%;
  height: auto;
  margin: auto;
  margin-bottom: 40px;
}

.btn1:hover {
  border: rgb(239, 243, 14) solid 6px;
  box-shadow: 0px 0px 30px rgb(49, 186, 228);
}

table {
  margin: auto;
  width: 90%;
  height: auto;
  position: inherit;
}

.validText {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 74px;
}

.subtInicio {
  left: 288px;
  top: 656px;
  text-align: center;
  -webkit-text-stroke: 1px black;
  color: white;
  font-family: Orbitron;
  font-size: 3vw;
  border: black solid 2px;
  border-radius: 10px;
  margin: 0px;
}

.contenedor {
  margin: auto;
  width: 60%;
  height: auto;
  left: 166px;
  top: 89px;
  background: #cc8bea;
  opacity: 90%;
  border: 3px solid #fff2ff;
  border-radius: 20px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.validText {
  font-family: Oswald;
  font-size: 2vw;
  float: center;
}

.validText2 {
  font-family: Oswald;
  font-size: 2vw;
  padding: 0px;
  float: right;
}

.botones {
  color: white;
  font-family: Orbitron;
  font-size: 100%;
  background-color: #26035e;
  padding: 10px 25px;
  margin-bottom: 40px;
}

input {
  float: left;
  margin: 10px;
}

.travelTitle {
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 8vw;
  color: #fff2ff;
  margin: auto;
  margin-bottom: 1px;
}

.travelImg {
  width: 60%;
  height: auto;
  border: 6px solid #fff2ff;
  box-sizing: border-box;
  border-radius: 70px;
  margin: auto;
}

.opcionViaje {
  font-family: Oswald;
  font-size: 200%;
  line-height: 86px;
  position: sticky;
  color: #1d1a32;
}

.opcion {
  float: unset;
  background: #1d1a32;
  border: 0px;
  width: 10%;
  height: 1.5em;
}

.desViaje {
  background-color: white;
  box-shadow: 0px 0px 30px rgb(246, 248, 151);
  border: black solid 2px;
  border-radius: 20px;
  font-family: Oswald;
  font-size: 150%;
  float: left;
  text-align: inherit;
  margin-right: 20px;
  margin-left: 30px;
  color: #1d1a32;
  padding: 20px;
}

.btnViajes {
  display: block;
  width: 30%;
  height: 40px;
  left: 332px;
  top: 390px;
  margin: auto;
  font-family: Oswald;
  font-size: 150%;
}

.back {
  font-size: 30px;
  font-family: Oswald;
  text-decoration: none;
  color: rgb(239, 243, 14);
}
